body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background: url('https://newevolutiondesigns.com/images/freebies/space-wallpaper-29.jpg') no-repeat center center fixed;
  background-size: 100% ;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.runningHomer {
  background: url('http://www.gifmaniacos.com/Simpsons/homer/0074.gif');
  height: 160px;
  width: 160px;
  position:absolute;
}

.crawlingHomer {
  background: url('http://www.gifmaniacos.com/Simpsons/homer/cart127.gif');
  height: 110px;
  width: 106px;
  position:absolute;
}
